.footer {
    padding-top: 56px;
}

@media (min-width: 768px) {
    .footer {
        padding: 92px 16px 86px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1132px;
    }
}

.bjn8wh {
    position: relative;
}

.logo {
    display: block;
    line-height: 1;
    margin: 0 auto 52px;
    width: 212px;
}

@media (min-width: 768px) {
    .logo {
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 212px;
    }
    }

    @media (min-width: 1536px) {
    .logo {
        width: 248px;
    }
}

.xhkkcn {
    padding: 0 16px;
}

@media (min-width: 768px) {
.xhkkcn {
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
}

@media (min-width: 768px) {
    .menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    }
}

.nav {
    border-top: 1px solid var(--line);
}

.nav > li {
    border-bottom: 1px solid var(--line);
}

@media (min-width: 768px) {
    .nav {
    border: none;
    display: grid;
    gap: 16px;
    }

    .nav > li {
    border: none;
    }
}

.bzknke {
    padding: 20px 15px;
    display: block;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .bzknke {
    font-size: 1.4rem;
    padding: 0;
    position: relative;
    transition-duration: 0.3s;
    display: inline-block;
    }

    .bzknke:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    }

    .bzknke:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
    z-index: 1;
    transform-origin: left;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(
        0.25,
        0.1,
        0.25,
        1
    );
    transition-property: transform;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    }
}

@media (min-width: 1536px) {
    .bzknke {
    font-size: 1.6rem;
    }
}

.menu_sub {
margin: 40px 0 32px;
display: grid;
gap: 36px;
}

@media (min-width: 768px) {
.menu_sub {
    margin: 0 0 0 4.4vw;
    gap: 16px;
}
}

.iw6pan {
    display: block;
    width: 100%;
    background: linear-gradient(
    to right,
    #0099eb 0%,
    #38abe0 52.22%,
    #51cce8 100%
    );
    padding: 15px;
    color: #fff;
    font-weight: bold;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: 1.6rem;
}

.iw6pan[target="_blank"]:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background-image: url(/common/icon-external.svg);
    -webkit-background-size: auto;
    background-size: auto;
    background-repeat: no-repeat;
    margin-left: 8px;
}

@media (min-width: 768px) {
    .iw6pan {
    padding: 0;
    display: inline-block;
    width: auto;
    height: auto;
    background: transparent;
    color: var(--main-color);
    position: relative;
    transition-duration: 0.3s;
    font-size: 1.4rem;
    }

    .iw6pan:hover::before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    }

    .iw6pan:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: calc(100%);
    height: 1px;
    background-color: var(--main-color);
    z-index: 1;
    transform-origin: left;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    }

    .iw6pan[target="_blank"]:after {
    background-image: url(/common/icon-external-black.svg);
    }
}

@media (min-width: 1536px) {
    .iw6pan {
    font-size: 1.6rem;
    }
}

.contact {
    color: var(--main-color);
    font-size: 1.5rem;
    -webkit-text-decoration: none;
    text-decoration: none;
    padding-left: 1em;
    position: relative;
    font-weight: bold;
}

.contact:before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border-top: 1px solid var(--text-sub-color-2);
    border-right: 1px solid var(--text-sub-color-2);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 0;
    top: 50%;
    transform-origin: right center;
}

@media (min-width: 768px) {
    .contact {
    font-size: 1.4rem;
    padding-left: 0;
    }

    .contact.spHidden {
    display: inline-block !important;
    }

    .contact:hover::before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    }

    .contact:before {
    position: absolute;
    content: "";
    left: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
    border: none;
    z-index: 1;
    transform-origin: left;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    }
}

@media (min-width: 1536px) {
    .contact {
    font-size: 1.6rem;
    }
}

.mqnaq6 {
    padding-bottom: 60px;
}

.mqnaq6 nav {
    display: grid;
    gap: 32px;
}

@media (min-width: 768px) {
    .mqnaq6 {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: flex-end;
    align-self: flex-end;
    margin-right: 14.17%;
    padding-top: 96px;
    padding-bottom: 72px;
    }

    .mqnaq6 nav {
    gap: 36px;
    }
}

.m0fzyp {
    display: grid;
    gap: 10px;
}

@media (min-width: 768px) {
    .m0fzyp {
    gap: 16px;
    }
}

.nmoko4 {
    display: grid;
    gap: 12px;
}

.nmoko4 a {
    color: var(--text-sub-color-2);
    font-size: 1.2rem;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition-duration: 0.3s;
}

.nmoko4 a[target="_blank"]:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    background-image: url(/common/icon-external-gray.svg);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 8px;
}

@media (min-width: 768px) {
    .nmoko4 a {
    font-size: 1.1rem;
    }

    .nmoko4 a:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: calc(100% - 15px);
    height: 1px;
    background-color: var(--text-sub-color-2);
    z-index: 1;
    transform-origin: left;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    }

    .nmoko4 a:hover::before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    }
}

@media (min-width: 1536px) {
    .nmoko4 a {
    font-size: 1.3rem;
    }
}

.a13hdp5x {
    display: grid;
    gap: 8px;
}

.a13hdp5x li {
    position: relative;
}

.a13hdp5x li::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 4px;
    height: 4px;
    border-top: 1px solid var(--text-sub-color-2);
    border-right: 1px solid var(--text-sub-color-2);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: right center;
}

.a13hdp5x a {
    color: var(--text-sub-color-2);
    font-size: 1.2rem;
    -webkit-text-decoration: none;
    text-decoration: none;
    padding-left: 0.5em;
    position: relative;
}

.a13hdp5x a[target="_blank"]:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    background-image: url(/common/icon-external-gray.svg);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 8px;
}

@media (min-width: 768px) {
    .a13hdp5x a:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--text-sub-color-2);
    z-index: 1;
    transform-origin: left;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    }

    .a13hdp5x a.-hasIcon::before {
    width: calc(100% - 15px);
    }

    .a13hdp5x a:hover::before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    }
}

@media (min-width: 1536px) {
    .a13hdp5x a {
    font-size: 1.4rem;
    }
}

.a1s5lcum {
    padding: 60px 16px;
    background-color: var(--background2);
    }

    @media (min-width: 768px) {
    .a1s5lcum {
        padding: 0;
        background-color: transparent;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.noe7qe {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .noe7qe {
    display: grid;
    grid-template-columns: auto auto;
    gap: 52px;
    }
}

@media (min-width: 1536px) {
    .noe7qe {
    gap: 64px;
    }
}

    .jadyh0 {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    }

    @media (min-width: 1280px) {
    .jadyh0.is-header legend {
        display: none;
    }

    .jadyh0.is-header label {
        font-size: 1.4rem;
    }
    }

    @media (min-width: 1536px) {
    .jadyh0.is-header label {
        font-size: 1.7rem;
    }
}

.a49aokf {
    display: contents;
}

 .r16bb7:not(:last-child) {
position: relative;
margin-right: 24px;
}

.r16bb7:not(:last-child)::before {
position: absolute;
content: "";
width: 1px;
height: 17px;
background-color: var(--line);
right: -12px;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

.144qfr8 {
    cursor: pointer;
}

.144qfr8:checked + label {
    color: var(--primary);
}

.144qfr8:checked + label::before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-animation: none;
    animation: none;
}

@media (min-width: 768px) {
    .144qfr8:checked + label:hover::before {
    -webkit-animation-name: hoverLineKeep;
    animation-name: hoverLineKeep;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    }
}

.z23znw {
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 0.03em;
    font-family: var(--en-font);
    color: var(--text-sub-color-2);
    line-height: 1;
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
}

.z23znw:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -4px;
    background-color: var(--primary);
    z-index: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-name: hoverLineOut;
    animation-name: hoverLineOut;
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.1s;
}

@media (min-width: 768px) {
    .z23znw {
    font-size: 1.5rem;
    }

    .z23znw:hover {
    color: var(--primary);
    }
}

.r2ksbu {
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(2, auto);
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    }

    .r2ksbu a {
    line-height: 1;
    }

    @media (min-width: 768px) {
    .r2ksbu a {
        position: relative;
        transition-property: transform opacity;
        transition-duration: 0.3s;
    }

    .r2ksbu a:hover {
        opacity: 0.7;
    }
}

.ad3wfl {
    font-size: 1rem;
    text-align: center;
    margin-top: 36px;
    color: var(--text-sub-color-2);
    font-family: var(--en-font);
}

@media (min-width: 768px) {
    .ad3wfl {
    margin-top: 0;
    }
}

@media (min-width: 1536px) {
    .ad3wfl {
    font-size: 1.2rem;
    }
}